.banner-container {
  background-color: #f5f5f5;
  color: #3a1c00;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.banner-title {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.banner-content {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.banner-button {
  background-color: #3a1c00;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.banner-button:hover {
  background-color: #5a3c22;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Nunito+Sans:ital,wght@0,400;0,700;0,800;1,300;1,700&family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


