.dash-button {
  background-color: #3a1c00;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.dash-button:hover {
  background-color: #5a3c22;
}