.pc-button {
  background-color: #3a1c00;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
  border: none;
  outline: none;
}

.pc-button:hover {
  background-color: #5a3c22;
}
