body {
margin: 0;
font-family: 'Poppins', sans-serif;
font-weight: 500;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
background-color: #ececec;
color: #333;
display: flex;
justify-content: center;
align-items: center; 
}

code {
font-family: 'Fira Code', monospace;
font-size: 0.9em;
background-color: #f9f9f9;
color: #555;
padding: 2px 5px;
border-radius: 3px;
display: flex;
justify-content: center;
align-items: center; 
}

